html {
    background-color: black;
    color: blanchedalmond;
    font-size: 30px;
    width: 100%;
    height: 100%;
}

body {
    text-align: center;
}

button {
    font-size: .75rem;
}

#reset {
    display: none;
    height: 2.5em;
    width: 7.5em;
    border-radius: 0%;
    
}

button:hover {
    cursor: pointer;
    background-color: cadetblue;
}

h1 {
    font-size: 2rem;
}

.score-board {
    display: grid;
    font-size: 2rem;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1 fr 1fr;
    grid-template-areas: 
        'header'
        'sub-header'
        'player-score computer-score';
}

.score-board #player-score {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    font-size: 1rem;
}

.score-board #computer-score {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 1rem;
}

.score-board h3 {
    font-size: .7rem;
    grid-column: 1 / span 2;
    grid-row: 2;
}

.score-board p {
    font-size: .75rem;
    grid-column: 1 / span 2;
    grid-row: 3;
}

#selections {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;

}

.selections {
    height: 5em;
    width: 5em;
}